.divider {
    height: 1px;
    max-width: 100%;
    display: block;
    text-align: center;
    background-color: rgb(218, 218, 218);
}

.form-control {
    max-width: 200px !important;
    display: inline-block;
}

#save-preference-btn {
    margin-left: 10px;
}

#loading-ring {
    display: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

code {
    font-size: 14px !important;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  