.form-control {
    max-width: 200px !important;
    display: inline-block;
}

#save-preference-btn {
    margin-left: 10px;
}

#loading-ring {
    display: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

code {
    font-size: 14px !important;
}

.tooltip-info {
  font-size: 20px !important;
  color: #8f8f8f !important;
  margin-left: 10px !important;
  padding-bottom: 5px !important;
}

.tooltip-inner {
  max-width: 350px;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  